<header id="topnav" class="defaultscroll sticky">
	<div class="container">
		<a class="logo" href="/">
			<img src="{{ STATIC_PREFIX }}img/logo-dark.png" class="l-dark" height="26" alt="">
			<img src="{{ STATIC_PREFIX }}img/logo-light.png" class="l-light" height="26" alt="">
		</a>

		<div class="menu-extras">
			<div class="menu-item">
				<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>

		<ul class="buy-button list-inline mb-0">                    
			<li class="list-inline-item ps-1 mb-0">
				<a href="#" target="_blank">
					<div class="btn btn-primary">Download</div>
				</a>
			</li>
		</ul>
		
		<div id="navigation">
			<ul class="navigation-menu nav-light nav-right" id="navmenu-nav">
				<li class="has-submenu">
					<a href="#home">Home</a>
				</li>
				<li class="has-submenu">
					<a href="#services">Features</a>
				</li>
				<li class="has-submenu">
					<a href="#review">Review</a>
				</li>
				<li class="has-submenu">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</header>